[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
cmake = "*"
face-recognition = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
mask = "py main.py"
